@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --clr-primary: #fff;
  --clr-secondary: #546da6;
  --clr-accent: #968eaf;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Poppins", sans-serif;
}

/* Start of Bact to Top  */

html {
  scroll-behavior: smooth;
}

.top {
  /* --offset: px; */
  background-color: #000;
  color: #fff;
  padding: 5px;
  text-decoration: none;
  border-radius: 100px;
  font-size: 1.1vw;
  font-family: sans-serif;
  /* place-self: end; */
  position: sticky;
  bottom: 0.5vw;
  margin-top: 170vh;
  /* margin-top: calc(100vh + var(--offset)); */
  margin-left: 92%;
  white-space: nowrap;
  opacity: 0.3;
  transition: 0.5s ease;
}

@media screen and (max-width: 768px) {

  .top {
    font-size: 3vw;
    margin-left: 93%;
  }
}


.top:hover{
  opacity: 0.8;
}

/* End of Back to Top */

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.text {
  flex: 4;
  padding: 40px;
  text-align: center;
}

.photos {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.photos img {
  max-width: 100%;
  padding: 10px;
  height: auto;
}

/* START OF SLIDER */
article {
  width: 100%;
  height: 98vh;
}
.slider_container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}
.slider {
  position: relative;
  width: 400%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  animation: 30s cubic-bezier(1, 0.95, 0.565, 1) sliding infinite;
}
.slide {
  position: relative;
  min-width: 100%;
  height: 100%;
}
.slide img {
  width: 100%;
  height: 100%;
}
.slide .caption {
  position: absolute;
  left: 0;
  bottom: 5%;
  font-size: 5rem;
  font-weight: 600;
  color: white;
  text-transform: capitalize;
  background: rgba(0, 0, 0, 0.348);
  backdrop-filter: blur(10px);
  padding: 1rem 5rem;
  border-radius: 0 2rem 2rem 0;
}
.slide.one {
  background: rgb(182, 19, 109);
}
.slide.two {
  background: rgb(255, 64, 64);
}
.slide.three {
  background: rgb(11, 173, 188);
}
.slide.four {
  background: rgb(11, 188, 14);
}
.slide.five {
  background: rgb(173, 11, 188);
}
@keyframes sliding {
  0% {
    transform: translateX(0%);
  }
  20% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(-100%);
  }
  45% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-200%);
  }
  70% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-300%);
  }
  95% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-400%);
  }
}
/* END OF SLIDER */

/*Start of CSS of navbar*/
.navbar {
  align-items: center;
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  font-family: "Kanit", sans-serif;
  font-size: 15px;
  z-index: 998;
  background-color: white;
  margin: 0;
  padding-top: 1.2%;
  box-shadow: 0px 5px 15px grey;
  li {
    display: inline-block;
    margin-right: 2%;
    transition: all 0.5s ease-in-out;
    &:hover {
      .submenu {
        height: 100%;
      }
      a {
        color: #546da6;
        &::before {
          visibility: visible;
          transform: scale(1, 1);
        }
      }
    }
    .submenu {
      overflow: hidden;
      position: absolute;
      left: 0;
      width: 100%;
      background-color: #546da6;
      height: 0;
      line-height: 40px;
      box-sizing: border-box;
      transition: height 0.3s ease-in-out;
      transition-delay: 0.1s;
      box-shadow: 0px 5px 15px grey;
      z-index: 999;
      a {
        color: #ffffff;
        /* margin-top: 20px; */
        font-size: 15px;
        &:hover {
          color: #ffffff;
          text-decoration: underline;
        }
      }
    }
    a {
      color: rgb(38, 38, 38);
      display: block;
      padding: 0 7px 0 7px;
      margin: 0 0 15px;
      text-decoration: none;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        bottom: -15px;
        left: 0px;
        background-color: #546da6;
        transition: all 0.2s ease-in-out;
        transform: scale(0, 0);
        visibility: hidden;
      }
    }
  }
}

/* Start of Enquiry Form */

#enquiry_form {

  max-width: 600px;
  margin: 50px auto;
  background-color: var(--clr-primary);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  margin-bottom: 20px;
}

fieldset {
  margin-bottom: 20px;
  border: 1px solid var(--clr-secondary);
  border-radius: 6px;
  padding: 10px;
}

legend {
  font-size: 20px;
  font-weight: bold;
  color: var(--clr-accent);
}

label {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
  color: var(--clr-accent);
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid var(--clr-secondary);
  border-radius: 4px;
  outline: none;
  transition: background-color 0.3s;
}

input[type="submit"],
input[type="reset"] {
  display: inline-block;
  background-color: var(--clr-accent);
  color: var(--clr-secondary);
  cursor: pointer;
  transition: background-color 0.3s;
  width: 49%;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: var(--clr-secondary);
  color: var(--clr-accent);
}

input:hover,
select:hover {
  background-color: #f0f0f0;
}



input:invalid,
select:invalid {
  border-color: #ff0000;
}
table {
  width: 100%;
}

td {
  padding: 8px;
}

#required_warning {
  color: red;
  font-style: italic;
  font-size: 14px;
  text-align: right;
}


@media only screen and (max-width: 600px) {
  label {
    width: 100%;
  }
}

/* End of Enquiry service form */

/*End of CSS of navbar*/

/* .slideshow-container {
  padding: 4rem;
  margin-top: 4%;
}
.slider-wrapper {
  position: relative;
  max-width: 50rem;
  margin: 0 auto;
}
.slider {
  display: flex;
  aspect-ratio: 16 / 9;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
  -ms-overflow-style: none; 
  scrollbar-width: none;
} */
/* Hide scrollbar for Chrome, Safari and Opera */
/* .slider::-webkit-scrollbar {
  display: none;
}
.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}
.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
}
.slider-nav a:hover {
  opacity: 1;
} */

/* Card Section */
.card-h2 {
  text-align: center;
  font-size: 24px;
  margin-top: 50px;
}
.card-section {
  padding: 3% 0;
  overflow: hidden;
  color: var(--clr-primary);
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 1200px;
}
.card-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  width: calc(50% - 10px);
}
.card {
  width: 100%;
  height: 500px;
  perspective: 800px;
  padding: 20px;
}
.card:hover > .card-inner {
  transform: rotateY(180deg);
}
.card-inner {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 1500ms;
  /* treat it like a 3D object - hide the front and show the back */
  transform-style: preserve-3d;
}
.card-front,
.card-back {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
  position: absolute;
  backface-visibility: hidden;
}
.card-front {
  background-size: cover;
  background-position: center;
}
.front-1 {
  background-image: url(car_wash.jpg);
}
.front-2 {
  background-image: url(sewing.jpg);
}
.front-3 {
  background-image: url(class.webp);
}
.front-4 {
  background-image: url(haircut.webp);
}
.card-back {
  padding: 0 30px;
  position: relative;
}
.card-back span:hover > .card-read-more::before {
  visibility: visible;
  transform: scale(1, 1);
}
.card-back {
  background-color: var(--clr-secondary);
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.card-read-more {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--clr-primary);
  color: var(--clr-secondary);
  border: 1px solid var(--clr-accent);
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none; /* Remove underline */
  transition: background-color 0.3s ease; /* Smooth color transition */
}
/* Hover effect */
.card-read-more:hover {
  background-color: var(--clr-secondary);
  color: var(--clr-primary);
}

@media (max-width: 800px) {
  .card {
    width: 100%;
  }
  .card-row {
    width: 100%;
  }
}

/* End of card */

/* Acknowledgement */
.acknowledgement-section {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px 0;
  padding-top: 50px;
  background-color: #f3f3f3;
}
.acknowledgement-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
}
.acknowledgements {
  margin-top: 20px;
  h2 {
    margin-bottom: 10px;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    margin-bottom: 10px;
  }

  a {
    color: #007bff;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}
/* End of Acknowledgement */

/* Volunteer Form */
.volunteer-body {
  margin-top: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: var(--clr-primary);
}
.volunteer-container {
  border: 2px solid var(--clr-accent);
  margin: 3% 0;
  padding: 25px 30px;
  max-width: 700px;
  background: var(--clr-primary);
  border-radius: 5px;
}
.volunteer-container .title {
  font-size: 25px;
  font-weight: 500;
  text-align: center;
}
.volunteer-form .user-details,
.volunteer-form .address-field {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
.user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
.user-details .input-box .details,
.user-details .address-field legend,
.volunteer-title {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input,
.volunteer-details select {
  font-size: 16px;
  height: 45px;
  width: 100%;
  padding-left: 15px;
  outline: none;
  border: 1px solid var(--clr-accent);
  border-radius: 5px;
  transition: all ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid,
.user-details .input-box select:focus,
.user-details .input-box select:valid,
.volunteer-details select:focus,
.volunteer-details select:valid,
.reason-to-volunteer textarea:focus {
  border: 2px solid var(--clr-accent);
}
.address-field {
  border: none;
}
.volunteer-details .category {
  display: flex;
  margin: 14px 0;
  justify-content: space-around;
}
.volunteer-details .category label {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  cursor: pointer;
}
.volunteer-details .category label {
  display: none; 
}
#volunteer-options:valid + .category label {
  display: flex; 
}
.volunteer-details .category .dot {
  height: 18px;
  width: 18px;
  margin-right: 10px;
  background: var(--clr-primary);
  border: 1px solid var(--clr-accent);
  border-radius: 50%;
  transition: all 0.3s ease;
}
#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two {
  background: var(--clr-accent);
}
.full-time-details,
.part-time-details {
  display: none;
}
#dot-1:checked ~ .full-time-details {
  display: block;
  margin-bottom: 3%;
}
#dot-2:checked ~ .part-time-details {
  display: block;
  margin-bottom: 3%;
}
#dot-1,
#dot-2 {
  display: none;
}

.part-time-details input[type="checkbox"] {
  width: 5%;
}
.part-time-details input[type="radio"] {
  width: 9.5%;
}
.part-time-details label:hover,
.part-time-details input:hover {
  cursor: pointer;
}
.part-time-details p {
  margin: 2% 0;
}
.reason-to-volunteer textarea {
  font-size: 16px;
  width: 100%;
  padding-left: 15px;
  padding-top: 10px;
  outline: none;
  border: 1px solid var(--clr-accent);
  border-radius: 5px;
  transition: all ease;
  margin-bottom: 1.2%;
}
.volunteer-form .button {
  height: 45px;
}
.volunteer-form .button input {
  height: 100%;
  width: 100%;
  outline: none;
  color: var(--clr-primary);
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 1px;
  background: var(--clr-accent);
}
.volunteer-form .button input:hover {
  cursor: pointer;
}
.volunteer-form .buttons {
  display: flex;
  justify-content: space-around;
}
.volunteer-form .buttons .button {
  width: 45%;
}
@media (max-width: 700px) {
  .volunteer-container {
    width: 100%;
  }
  form .user-details .input-box {
    width: 100%;
  }
  .part-time-details input[type="checkbox"] {
    margin: 3% 0;
    width: 50%;
  }
  .part-time-details input[type="radio"] {
    margin: 3% 0;
    width: 50%;
  }
}
@media (max-width: 584px) {
  .user-details .input-box input,
  select form .volunteer-title {
    font-size: 13.5px;
  }
}
/* End of Volunteer Form */

/*Start of CSS for footer*/
footer {
  background-color: var(--clr-secondary);
  padding: 3% 4%;
  font-style: italic;
}
footer .container .row {
  display: flex;
  flex-wrap: wrap;
}
.footer-col {
  width: 25%;
}
.footer-col h4 {
  font-size: 12px;
  color: var(--clr-primary);
  text-transform: capitalize;
  margin-bottom: 20px;
  font-weight: 500;
  position: relative;
}
/* Vertical line below the footer headings */
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: var(--clr-accent);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col li:first-child {
  margin-top: 30px;
}
.footer-essentials {
  margin-top: 10px;
}
.footer-col ul li,
.footer-col ul li a,
.footer-essentials {
  font-size: 12px;
  text-transform: capitalize;
  padding-right: 25px;
  color: var(--clr-primary);
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover,
.footer-essentials:hover {
  color: var(--clr-primary);
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: var(--clr-primary);
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: var(--clr-secondary);
  background-color: var(--clr-primary);
}
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    padding: 4% 3%;
  }
}
@media (max-width: 574px) {
  footer {
    padding: 6% 4%;
  }
  .footer-col {
    width: 100%;
  }
}
/* End of footer style */
